#{extends 'main.html' /}
%{
	if(title == null)
	{
		title = 'Libros y Peliculas! | AlfaCritico';
	}

}%


#{set 'title'} ${title} #{/} 
#{set 'banner_class' }hide#{/}
#{set 'column_class' }hide#{/}
#{set 'content_class'}full-width#{/}
#{set 'content'}
	#{form @Application.addUser()}
		<h2>Registrar cuenta nueva</h2>
	    #{ifErrors}
	        <p class="error">
	            Hubo un error(es) al procesar la forma.	            	
	        </p>
	    #{/ifErrors}
	    
	      #{if flash.success}
		    <p class="success">
		    	${flash.success}
		    </p>
		#{/if}
		<fieldset id="register">
			<p>
				<label for="name">
					Nombre
				</label>
				<input type="text" class="input_text" id="name" name="name" value="${params.name}"/>
				<span class="error">#{error 'name' /}</span>
			</p>
			<p>
				<label for="password">
					Contraseña
				</label>
				<input type="password" class="input_text" id="password" name="password" value="${params.password}" />
				<span class="error">#{error 'password' /}</span>
			</p>
			<p>
				<label for="confirmpassword">
					Confirmar contraseña
				</label>
				<input type="password" class="input_text" id="confirm_password" name="confirm_password" value="${params.confirm_password}" />
				<span class="error">#{error 'confirm_password' /}</span>
			</p>
			<p>
				<label for="email">
					Email
				</label>
				<input type="text" class="input_text" name="email" id="email" value="${params.email}" />
				<span class="error">#{error 'email' /}</span>
			</p>
			<input type="submit" class="input_submit" value="Registrar" />
		</fieldset>
	#{/form}
#{/}
