#{extends 'main.html' /}
%{
	if(title == null)
	{
		title = 'Libros y Peliculas! | AlfaCritico';
	}

}%
#{set 'content'}
	#{if review}
		#{set 'title'}${review.title}#{/}
		<h2>${review.title}</h2>
		<span class="subheading">review of <a href="@{Application.product(review.product.id)}">${review.product.title}</a></span>
		
		<div class="review-content">
			${review.content.raw()};
		</div>
		#{set 'sidebar'}
			<div class="module">
				<h2>More reviews</h2>
				#{if reviews}
				    #{list-product-reviews sidebar_reviews:reviews /}
				#{/if}
				#{else}
					<p>
						No hay mas reseñas para este producto, <a href="@{Application.review}">Agrega una</a>
					</p>
					
				#{/else}
				
			</div>
		#{/}
		
	#{/if}
#{/}