#{extends 'main.html' /}
%{
	if(title == null)
	{
		title = 'Libros y Peliculas! | AlfaCritico';
	}

}%
#{set 'content'}
	#{if review}
		#{set 'title'}${review.title}#{/}
		<h2>${review.title}</h2>
		<span class="subheading">review of <a href="@{Application.product(review.product.id)}">${review.product.title}</a></span>
		
		<div class="review-content">
			${review.content.raw()};
		</div>
		#{set 'sidebar'}
			<div class="module">
				<h2>More reviews</h2>
				#{if reviews}
				    #{list-product-reviews sidebar_reviews:reviews /}
				#{/if}
				#{else}
					<p>
						No hay mas reseñas para este producto, <a href="@{Application.review}">Agrega una</a>
					</p>
					
				#{/else}
				
			</div>
		#{/}
		
	#{/if}
	#{if user}
		#{form @Application.addReview(review.product.id, new_review_content)}
			<fieldset>
			    #{ifErrors}
			        <p class="error">
			            Hubo un error(es) al procesar la forma.	            	
			        </p>
			    #{/ifErrors}
			    
			      #{if flash.success}
				    <p class="success">
				    	${flash.success}
				    </p>
				#{/if}
			
				<h2>Agregar reseña</h2>
			
				<p>
					 <Label>
					 	Titulo
					 </label>
					 <input type="text" class="input_text" name="new_review_title" />
					 <span class="error">#{error 'new_review_title' /}</span>
				</p>
				<p>
					 <Label>
					 	contenido
					 </label>
					 <textarea class="textarea" name="new_review_content" id="new_review_content">${params.new_review_content}</textarea>
					 <span class="error">#{error 'new_review_content' /}</span>
				</p>
				<p>
					<input type="submit" class="input_submit"  value="Añadir referencia" /> 
				</p>
				
			</fieldset>
		#{/form}
	#{/if}
	
#{/}