<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
    </head>
    <body>
		<div id="wrapper">
			<div id="top-ribbon">
			</div>
			<div id="top">
				<div id="logo">
					<strong>
						<a href="/">AlfaCritico</a>
					</strong>
				</div>
				<div id="login-panel">
					<ul>
						<li><a href="@{Application.login}">iniciar sesion</a></li>
						<li><a href="@{Application.register}">registrarse</a></li>
					</ul>
				</div>
			</div>
			<div id="navigation">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="@{Application.products}">Peliculas</a></li>
					<li><a href="@{Application.products}">Libros</a></li>
					<li id="search-element">
						<div id="search-wrapper">
						<input type="text" class="input_text" name="search" />
						<a href="#"  class="button1" >buscar</a>
					</div>
				</li>
				</ul>
			</div>
			<div id="banner">
			</div>
			<div id="middle">
				<div id="content">
					#{get 'latest_products' /}
					#{get 'content' /}
				</div>
				<div id="column1">
					#{get 'latest_reviews' /}
					#{get 'sidebar' /}
				</div>
			</div>
			<div id="footer">
			</div>
		</div>
		<div id="page-footer">
			<div id="page-footer-wrapper">
				<p>
					Copyright Adan Alvarado
				</p>
			</div>
		</div>
	    <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
		#{get 'moreScripts' /}
    </body>
</html>
